@import url(https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.3/packages/wanted-sans/fonts/webfonts/static/split/WantedSans.min.css);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap);

body, html{
  	width: 100%;
	font-family: "Montserrat", "Wanted Sans", "noto sans", Arial, -apple-system, sans-serif;
	font-size: 10px;
}
body {
	margin: 0;
	padding: 0;
	text-align: left;

}
.wrap{
	margin-right: auto; /* 1 */
	margin-left:  auto; /* 1 */
	max-width: 1440px; /* 2 */
	padding-right: 1rem; /* 3 */
	padding-left:  1rem; /* 3 */
	overflow: hidden;
	}

/* Reset elements */
address, dd, div, dl, dt, em, fieldset, form, 
h1, h2, h3, h4, iframe, input, li, object, 
ol, p, select, textarea, ul {
	font-weight: normal;
	font-style: normal;
	margin: 0;
	padding: 0;
}

fieldset, iframe, img {
  border: none;
}

iframe {
  display: block;
}

img {
  vertical-align: top;
}

li {
  list-style-type: none;
}

ol, ul {
  list-style: none;
}

table {
  clear: both;
  border-collapse: collapse;
}

address, em {
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}
/* ===== gnb ELEMENTS ===== */
.gnb {
	display: grid;
	grid-template-columns: 1.5fr 0.5fr 8fr;
	grid-column-gap: 0.2rem;
	align-items: center;
	padding: 1rem 0;
}

.logo h1{
	grid-column: 1;
	font-size: 1.8rem;
	font-weight: 700;
}
.logo h1 a{
	display: flex;
	align-items: center;
}
.logo h1 a img{
	width: 15%;
	object-fit: contain;
}
#navigationFrame{
 grid-column: 3;}

#navigationFrame #main-navigation{
	display: flex;
	justify-content: flex-end;
}

#navigationFrame ul .gnb_menu {
	font-size: 1.6rem;
	padding: 1.5rem;
}
/*main elements*/
.intro_section {
	background: url("assets/images/main_image.jpg") no-repeat center;
	background-size: contain;
	padding: 10rem 0;
}
.intro_tit {
	font-size: 2.4rem;
	font-weight: 700;
	margin: 2rem 0;
}

